
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

.counter{
    font-size: 60px;
    margin: 30px;
    margin-top: 5px; 
    text-align: center;
    font-weight: 600;
    text-shadow: black 1px 0 3px;
}

.theme{
    font-size: 60px;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
}

.text{
    font-size: 40px;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 500;
}

.container_shadow{
  box-shadow: black 1px 0 4px;
}

.box1{
    background-color: aliceblue;
}

.box2{
    background-color: aliceblue;
}

.navbar{
    text-align: center;
}

.container2{
    margin-bottom: 50px;
}

.btn{
    margin-bottom: 15px;
}